.DWD_5846b13f253fa61999085220 { width: 100% !important; }
.DWD_5846b13f2544a63288177364 { width: 100% !important; }
.DWD_5846b13f2549538533267006 { width: 100% !important; }
.DWD_5846b13f254e010851466283 { width: 100% !important; }
.DWD_5846b13f2552a11090923054 { width: 100% !important; }
.DWD_5846b13f2557393204670446 { width: 100% !important; }
.DWD_5846b13f255bd46774373203 { margin-left: 10px !important; margin-right: 10px !important; }
.DWD_5846b13f2560a88351243036 { border: 1px solid red !important; border-radius: 10px !important; margin-top: 30px !important; }
.DWD_5846b13f2569d89655982890 { text-align: justify !important; }
.DWD_5846b13f256e847875773301 { font-size: 8pt !important; }
.DWD_5846b13f257324863612633 { font-size: 8pt !important; }
.DWD_5846b13f2577c48603612697 { text-align: justify !important; }
.DWD_5846b13f257c626601121155 { font-size: 8pt !important; }
.DWD_5846b13f2581098169981409 { text-align: justify !important; }
.DWD_5846b13f2585a63623896148 { font-size: 8pt !important; }
.DWD_5846b13f258a567660616804 { color: red !important; }
.DWD_5846b13f258ef98788720556 { font-size: 8pt !important; color: #000 !important; }
.DWD_5846b13f2593934172986960 { font-size: 8pt !important; color: #000 !important; }
.DWD_5846b13f2598473092692113 { font-size: 8pt !important; }
.DWD_5846b13f259cd47203098005 { font-size: 8pt !important; }
.DWD_5846b13f25a1821954115899 { text-align: justify !important; }
.DWD_5846b13f25a6c15825237240 { text-align: center !important; margin-top: 30px !important; }
.DWD_5846b13f25ab856868125731 { width:50% !important; }
.DWD_5846b13f25b01325109902 { width: 50% !important; margin-top: 30px !important; }
