body { font-size: 16px;
/* background-image:url(../images/background-vlaamsche-friet.png); */
/* background-image:url(../images/background-frietjes.jpg); */

 }
header .navbar-default { border:0; background-color:#ffc300 !important;
 }
header .navbar-default img { margin:20px 0; }
.navbar-nav>li>a { padding-top:0 !important; padding-bottom:0; }
.navbar-default a.hoofd { padding-top:0; padding-bottom:0; margin-top:5px; margin-bottom:5px; line-height:20px; border-right:1px #ce4925 solid; }
.navbar { margin-bottom:0; min-height:30px !important; border-radius:0 !important; }
.btn-default { color:#FFF; background-color:#bdc3c7; }
.breaker { clear:both; width:100%; display:block; float:none; height:0px; }
.h4kop { font-size:22px; }
.achtergrondsub { background-color:#ebebec; }
.logotop .row { margin:0; }
.logotop .col-md-12 { padding:0; }
.menutop .row { margin:0; }
.menutop .col-md-12 { padding:0; }

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: right;
    }
}
@media (max-width: 768px) {
header .logotop { padding:0; }
.menutop { background-color:#ffc300; }
}
.dropdown-menu { padding:0 !important; }
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.col-md-1 img { max-width:100% !important; }
.col-md-2 img { max-width:100% !important; }
.col-md-3 img { max-width:100% !important; }
.col-md-4 img { max-width:100% !important; }
.col-md-5 img { max-width:100% !important; }
.col-md-6 img { max-width:100% !important; }
.col-md-7 img { max-width:30% !important; }
.col-md-8 img { max-width:100% !important; }
.col-md-9 img { max-width:100% !important; }
.col-md-10 img { max-width:100% !important; }
.col-md-11 img { max-width:100% !important; }
.col-md-12 img { max-width:100% !important; }

.blogoverzicht, .blogmenu { margin-top:60px; }
.blogoverzicht .onderblog { font-size:0.9em; text-align:center; padding-top:20px; }
.blogoverzicht h4 { margin-top:0; }
.blogoverzicht .btn { float:right; }

.blog3img { text-align:center; }
.blog3img .image { max-height:270px; overflow:hidden; margin-bottom:20px; min-height:270px; display:block; }
.blog3img a.btn-default, .blog a.btn-info { border:0; }

.blog .banner { max-height:450px; min-height:450px; display:block; }
.blog .banner .slide { z-index:-1; width:100%; position:fixed; background-size:cover; background-position:center; background-repeat:no-repeat; max-height:450px; height:450px; display:block; }
.blog .bannercontentonder { background-color:#FFF; padding:30px 0; }

.blog .reacties { margin-top:40px; }
.blog .reactie_titel { margin-bottom:10px; }
.blog .reactie { margin-top:40px; }

.pagination { margin-top:40px; }

#footer { background-color:#FFC300; color:#ce4925; padding:20px; }
#footer a { color:#4669AE; text-decoration:underline; }
#footer a.nolink { text-decoration:none; }

#copyright { background-color:#454545; padding:10px 0; }
#copyright a { color:#FFF; text-decoration:none; font-size:0.8em; }

.contactformlinkseditor table, .contactformrechtseditor table { width:50%; }

.testimonialsslider .pijltjes { margin-top:20px; }
.testimonialsslider .pijltjes a { color:#8dc63f; font-size:28px; font-weight:bold; text-decoration:none; }
.testimonialsslider ul.testimonials { margin:0; padding:0; }
.testimonialsslider .testimonials li { color:#415a68; text-align:center; font-weight:100; text-transform:uppercase; font-size:25px; color:#0f3552; }
.testimonialsslider .testimonials li span { color:#2eaeef; }
.testimonialsslider .testimonials li .naam { font-weight:bold; font-size:16px; color:#2eaeef; margin-top:40px; }

.portfoliofull4 .col-md-3 { background-color:#2eaeef; background-size:cover; min-height:350px; padding:0; }
@media (min-width:768px){ .portfoliofull4 .col-md-3 { overflow:hidden; } }
.portfoliofull4 .col-md-3 .over { display:none; color:#FFF; padding-top:130px; position:absolute; height:100%; width:100%; text-align:center; background-color:rgba(46, 174, 239, 0.75) !important; }
.portfoliofull4 .col-md-3:hover .over { display:block; }
.portfoliofull4 .col-md-3 .over h3 a { text-decoration:none; font-size:18px; font-weight:bold; color:#FFF; text-transform:uppercase; margin:0; padding:0; }
.portfoliofull4 .col-md-3 .over p { font-size:16px; margin:0; padding:0; }

.port-detail { padding:0 !important; }
.port-detail h1 { color:#2eaeef; text-transform:uppercase; font-size:24px; }
.port-detail .info { color:#2eaeef; }
.port-detail .tekst { color:#103653; margin:30px 0; padding-top:30px; padding-bottom:30px; border-top:1px #2eaeef dotted; }
.port-detail .fotoslider { background-size:cover; }
.port-detail .buttons { margin-bottom:30px; }
.port-detail .buttons .vorige, .port-detail .buttons .overzicht { float:left; margin-right:20px; }
.port-detail .buttons a { text-decoration:none; padding:5px 20px; border:1px #2eaeef solid; }
.port-detail .fotoslider { min-height:667px !important; }
.port-detail .pijltjes span { color:#FFF; font-size:25px; position:absolute; margin-top:300px; cursor:pointer; }
.port-detail #prev { left:3%; }
.port-detail #next { right:3%; }

.logosslider .pijltjes { margin-top:15px; }
#googlemapje { min-height:450px; }
#googlemapje #map { min-height:450px; }
#googlemapje .mapsfoto { width:100px; overflow:hidden; float:left; margin-right:10px; }
#googlemapje .mapsfoto img { max-width:100px; }
#googlemapje .mapsinfo { width:250px; }
.locatiesingle h3 { margin:0; padding:0; margin-bottom:10px; }
.locatiesingle .omschrijving { margin-top:20px; }
@media only screen and (min-width: 768px) {
.team .row { display: table; }
.team .teamlid {  float: none; display: table-cell;border-spacing:5px; vertical-align: top; }
.team .tp2 {border-collapse: separate; border-spacing:20px; }
.team .tp2:before { display:none; }
.team .tp2 .row:before { display:none; }
.team .tp2:after { display:none; }
.team .tp2 .row:after { display:none; }
}
.team .teamlid { margin-top:30px; padding-bottom:20px; border-top:2px #8dc63f  solid; border-bottom:1px #2eaeef solid; }
.team .col-md-6 .row h4 { margin:0; padding:0; color:#8dc63f; font-size:18px; font-weight:normal; }
.team .col-md-6 .row h3 { margin:0; padding:0; color:#2eaeef; font-size:20px; font-weight:normal; margin-bottom:20px; }
.team .col-md-6 .row p { font-size:14px; }
@media only screen and (min-width: 768px) {
.team .col-md-6 { width:48%; margin-right:2%;margin-top:30px;}
.team .col-md-6 .col-md-6 { display:block; }
.team .tweedecol { margin-top:0 !important; }
}
.leegteam { border:0 !important; }

@media only screen and (max-width: 767px) {
#footer, #footer .text-right { text-align:center !important; }
.col-md-4, .col-md-6 { margin-bottom:3em; }
.contactformlinkseditor table, .contactformrechtseditor table { width:100%; }
#googlemapje { min-height:250px; }
#googlemapje #map { min-height:250px; }
}
@media (min-width: 768px) {
.navbar-nav { float:right; }
}
@media (max-width: 768px) {
header .navbar-default img { margin-left:20px; width:250px; }
.blogoverzicht h4 { margin-top:20px; }
}
@media only screen and (min-width: 768px) {
.switchview { display:none; }
}
@media only screen and (device-width: 768px) {
.switchview { display:none; }
}



/* WEBSHOP */
#lijst .container, .productfull .container, .winkelwagenpage .container, .webshopwit .container { background-color:#; }
#lijst .pt { padding-top:20px; }
#lijst .product .proafbeelding { height:190px; text-align:center; width: 60% }
#lijst .product .proafbeelding img { max-height:290px; }
#lijst .product { margin-bottom:30px; }
#lijst .lijsteerste { margin-top:20px; }

#webshopmenu { background-color:#F2F2F2; }
#webshopmenu h3 { color:#df247f; text-transform:uppercase; font-size:13px; margin-left:10px; padding-top:10px; margin-right:5px; }
#webshopmenu h3 span { float:right; font-size:12px; }
#webshopmenu h3 span a { text-decoration:none; color:#df247f; }
#webshopmenu ul { margin:0; padding:0; list-style:none; }
#webshopmenu ul li a { width:100%;  display:block; padding:2px 10px 2px 10px; color:#555555; text-decoration:none; }
#webshopmenu ul li.actief a, #webshopmenu ul li a:hover { background-color:#df247f; color:#FFF; }
#webshopmenu ul li ul.sub li a { background-color:#e0e0e0; padding-left:1.250em; margin-top:1px; margin-bottom:2px; color:#414042; }
#webshopmenu ul li ul.sub li a:hover {background-color:#df247f; }

.product .proinhoud h3 { font-size:18px; padding:0.625em; height:35px; overflow:hidden; }
.product .tekst { height:50px; overflow:hidden; font-size:12px; line-height:16px; padding:0.625em; }
.product .meerinfo { margin-bottom:1.250em; font-size:12px;}
.product .meerinfo a { padding:0.625em;  color:#000; line-height:16px; width:50%; display:block; font-weight:bold;text-align:center; border:1px red solid; -webkit-border-radius: 8px; border-radius: 8px; }
.product .meerinfo a:hover { background-color:#ffc300; color:#FFF; text-decoration:none; }
.product .cijfer { height:20px; overflow:hidden; font-size:11px; padding:0 0.625em; }
.product .cijfer img { height:10px; margin-top:-3px; }

.winkelrij { margin-bottom:10px; }
.winkelrij .winkelrijtitel strong { font-size:14px; }
.winkelrij .winkelrijaantal { margin-top:-5px; }
.winkelrijaantal input { width:50px;margin-top:0; text-align:center; float:left; }
.winkelrijaantal img { margin-top:2px; margin-left:5px; }
.winkelrij .winkelrijsubtotaal { text-align:right; }
.verwijderwin { height:20px; float:left; font-size:11px; }
.verwijderwin a { color:#FFF; background-color:#414042; border:1px #414042 solid; text-decoration:none; margin-right:5px; display:block;padding-left:8px; padding-top:3px; padding-right:8px; height:18px; float:left; }
.verwijderwin a:hover { color:#FFF; background-color:#F26532; text-decoration:none; }
.winkeltotaal { text-align:right; font-size:15px; margin-bottom:20px; }
.winkeltotaalprijs { text-align:right; font-size:14px; margin-bottom:20px; }
.winkeltotaal_btw { font-size:13px; margin-bottom:10px; text-align:right; }
.winkeltotaalprijs_btw { text-align:right; font-size:13px; margin-bottom:10px; }

.winkelterug { background-color:#ffc300; float:left; text-decoration:none; cursor:pointer; text-align:left; }
.winkelverder { background-color:#ffc300; float:right; text-decoration:none; cursor:pointer; text-align:right; }
.winkelterug a, .winkelverder a { font-size:16px; text-decoration:none; color:#FFF; width:130px; display:block; }
.winkelterug a { padding-left:25px; padding-top:3px; padding-bottom:5px; } .winkelverder a { padding-right:25px; padding-top:3px; padding-bottom:5px; }

.linksdeel .vergeten { float:left; padding:10px; }
.halfform input { width:305px; padding:5px 10px; }
.halfform input[type=submit] { float:right; width:100px; cursor:pointer; background-color:#F26532; border:1px #F26532 solid; font-weight:bold; color:#FFF; }

#anderadresform, #gegevensverder { display:none; }

.paginanummers2 { height:25px; float:right; clear:both; margin-top:30px; font-size:11px; }
.paginanummers2 a { color:#FFF; background-color:#414042; border:1px #414042 solid; text-decoration:none; margin-right:5px; display:block;padding-left:8px; padding-top:5px; padding-right:8px; height:21px; float:left; }
.paginanummers2 a:hover { color:#FFF; background-color:#df247f; text-decoration:none; }
.paginanummers2 a.actief { color:#FFF; background-color:#df247f;  }
.paginanummers2 a.uit { color:#686300; background-color: #e7e2b7; text-decoration:none; }

.topproduct { padding:10px; margin-bottom:10px; }

.topproduct .inhoud h1 { font-size:20px; text-transform:uppercase; margin-top:-5px; }
.topproduct .inhoud ul { margin:0; padding:0; margin-left:15px; }
.topproduct .inhoud ul li span { color:#F26532; font-weight:bold; }
.topproduct .inhoud .topcijfer img { height:12px; }
.topproduct .image h4 { font-size:1em; margin:0.625em 0; }
.topproduct #bestelklik { float:right; margin-top:10px; margin-bottom:10px; }

.productfull h3 { text-transform:uppercase; }
#beoordelingen { background-color:#F2F2F2; padding:10px; margin-top:60px; }
.form_link { float:left; width:250px; margin-bottom:10px; padding-top:10px; }
.form_rechts { float:left; width:300px; border:1px #df247f solid; padding:5px; margin-bottom:20px; }
.form_rechts_maand { float:left; width:40px; border:1px #df247f solid; padding:5px; margin-bottom:20px; margin-right:20px; }
.submit_button { background-color:#df247f; color:#FFF; border:0; cursor:pointer; padding:5px; width:201px; text-align:center; -webkit-border-radius: 10px; border-radius: 10px; }
.errormelding { background-color:#ed101a; color:#FFF; padding:10px; margin-bottom:20px; font-weight:bold; }
.goedmelding { background-color:#2d961f; color:#FFF; padding:10px; margin-bottom:20px; margin-top:20px; text-align:center; font-weight:bold; }
.review { margin-top:20px; border-bottom:2px #FFF solid; padding-bottom:10px; }
.reviewcijfer { margin-right:10px; }
.reviewcijfer img { width:65px; margin-bottom:8px; }
.reviewcijfer .onderr { margin-bottom:10px; font-size:11px; }
.reviewinner h5 { text-transform:uppercase;color:#df247f; margin-top:-5px; }
#zieook h5 { margin-left:0.625em; margin-bottom:0.625em; }
#zieook .col-sm-2 img { max-width:100%; }
.topproduct .col-md-7 img { max-width:80% !important; margin-bottom:30px; }

#bestellen { width:330px; float:left; padding:20px 10px; }
#bestellen .regelprijs span { color:#434343; font-weight:bold; text-align:right; float:right; margin-right:10px; width:75px; }
#bestellen .regelprijs span .links { float:left }
#lijstchange { width:100%; margin-top:10px; }
#bestellen .berekening { margin:-10px; margin-top:20px; margin-bottom:10px; padding:5px 10px; }
#bestellen .berekening input[type=text] { float:right; width:55px; text-align:center; }
#bestellen #bijwerken, #bestellen #bijwerken_meer { float:right; cursor:pointer; margin-right:1px; border:1px #ce4925 solid; color:#ce4925; padding:5px 20px; margin-bottom:20px;text-decoration:none; }
#bestellen #prijzenberekening input[type=submit] { float:right; margin-top:20px; background-color:#df247f; border:1px #df247f solid; cursor:pointer; color:#FFF; padding:5px 20px; font-weight:bold;}


/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.star-rating,div.star-rating a{background:url(/images/star.png) no-repeat 0 0px}
div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -16px!important}
div.star-rating-hover a{background-position:0 -32px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */

.topproduct #bestellen h3 { font-size:1em; text-transform:none; }
#bestellen { padding:10px; }
#bestellen ul { margin:0; padding:0; list-style:none; }
#bestellen ul li span { font-weight:bold; text-align:right; float:right; margin-right:10px; width:75px; }
#bestellen ul li span .links { float:left }
#bestellen .berekening { font-weight:bold; margin:-10px; margin-top:20px; margin-bottom:10px; padding:5px 10px; }
#bestellen .berekening input[type=text] { float:right; width:55px; text-align:center; }
#bestellen #bijwerken { float:right; cursor:pointer; margin-right:1px; font-size:1em; font-weight:bold; color:#ce4925; margin-bottom:20px; -webkit-border-radius: 10px; border-radius: 10px; }
#bestellen #prijzenberekening input[type=submit] {margin-top:20px; background-color:transparent; border:1; color:#ce4925; cursor:pointer; font-size:1em; width:100%; padding:5px; font-weight:bold; -webkit-border-radius: 10px; border-radius: 10px; }
